.footer {
	display: flex;
	gap: 50px;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	background-color: #B3DCFF;
	padding: 20px 30px;
	height: fit-content;
}

.footer__text {
	color: #474646;
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1rem;
}

p {
	margin: 0;
	padding: 0;
}

.footer-info__network {
	font-style: italic;
	margin: 0;
	padding: 0;
}

a {
	font-weight: 600;
	text-decoration: none;
	color: #004aa5;
	transition: 0.3s;
	margin: 0;
	padding: 0;

	&:hover {
		color: #147b9d;

	}
}