.footer {
	display: -webkit-box;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-height: 70px;
	margin: 30px 0;
	gap: 232px;
	background-color: #B3DCFF;
	box-shadow: 0 0 15px rgba(0, 42, 93, 0.4);
	padding: 15px 70px;
}

.footer__text {
	color: #474646;
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

p {
	margin: 0;
	padding: 0;
}

.footer-info__network {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}