.footer {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #B3DCFF;
	padding: 20px 0;
	flex-shrink: 0;
	min-height: 70px;
	margin-top: 30px;
	box-shadow: 0 0 15px rgba(0, 42, 93, 0.4);
}

.footer__text {
	color: #474646;
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

p {
	margin: 0;
	padding: 0;
}

.footer-info__network {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}