.main-page {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ffffff;
}

.main-page__text {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	margin: 20px auto;
	color: #002340;
}

.main-page__button-connection {
	background-color: #013635;
}

.inupt-number::-webkit-outer-spin-button,
.inupt-number::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.tips-list {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	width: 148px;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.tips-list__tip {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 12px 13px;
}

.tip__row {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.warn-red {
	color: #ff5757;
	margin: 0 auto;
	word-wrap: wrap;
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo__img {
	width: 30px;
	height: 30px;
	object-fit: contain;

	@media (min-width: 1024px) {
		width: 60px;
		height: 60px;
	}
}

.logo__text {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}