html,
body,
#root {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

img {
	max-width: 100%;
	object-fit: contain;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;

	@media (max-width: 1024px) {
		font-size: 36px;
		margin: 20px 0;
	}
}

code {
	font-size: 15px;
	line-height: 135%;
	padding: 4px 8px;
	background: var(--code-bg);
}